extends admin-layout
block cust-css
block content
    h3.page-title 股结构表表管理
    .row
     
 
                                                                                                             