extends admin-layout
block cust-css
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker2.css')
    link(rel='stylesheet', href='/js/vendor/plugins/select2/select2.css')
block content
    h3.page-title 酸洗后盘条库表管理
    .row
    .col-md-12
        .portlet
            .portlet-title
                .caption
                    i.fa.fa-user
                    | 现有酸洗后盘条库列表
                .actions
                    a.btn-new.btn.default.yellow-stripe(href="#")
                        i.fa.fa-plus
                        span.hidden-480 &nbsp;新酸洗后盘条库
            .portlet-body
                .dataTables_wrapper.no-footer
                    table#tab.table.table-striped.table-hover.table-bordered.dataTable.no-footer(role="grid")
                        thead
                            tr(role="row")
                                th #
                                th 钢号
                                th 炉号
                                th 序号
                                th 重量
                                th 直径
                                th 是否良品
                                th 操作
        .modal.new
            .modal-dialog
                form.form-horizontal(method="POST", action="internalForm/add?subForm=sxhptk", role="form")
                    .modal-content
                        .modal-header
                            h4.modal-title 新酸洗后盘条库
                        .modal-body
                            .form-group
                                .col-md-12
                                    label.control-label 钢号
                                    input.form-control(name="steel_no", type="text")
                            .form-group
                                .col-md-12
                                    label.control-label 炉号
                                    input.form-control(name="stove_no", type="text")
                            .form-group
                                .col-md-12
                                    label.control-label 序号
                                    input.form-control(name="no", type="text")
                            .form-group
                                .col-md-6
                                    label.control-label 重量
                                    input.form-control(name="height", type="text")
                                .col-md-6
                                    label.control-label 直径
                                    input.form-control(name="diameter", type="text")
                            .form-group
                                .col-md-12
                                    label.control-label 是否良品
                                    .radio-list
                                        label.radio-inline
                                            input(type="radio", name="is_good_product", value="良品")
                                            | 良品
                                        label.radio-inline
                                            input(type="radio", name="is_good_product", value="非良品")
                                            | 非良品
                        .modal-footer
                            button.btn.btn-default(type="button",id="cancel", data-dismiss="modal") 取消
                            button.save.btn.btn-primary(type="submit",id="submit") 保存
                            button.save.btn.yellow(type="button",id="update") 修改
                            button.btn.red(id="delete" style="position:absolute;left:10px;bottom:15px;background-color:rgb(245,128,128);") 删除
block page-js
    script(src='/js/vendor/bootstrap-datetimepicker2.js')
    script(src='/js/vendor/bootstrap-datetimepicker.zh-CN.js')
    script(src='/js/vendor/plugins/select2/select2.js')
    script(src="/js/admin/sxhptk.js")
                